<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!--  Pestaña Lista de tareas -->
  <ion-tab title="Lista Tareas" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/home/tareas">
    <ion-nav-view name="home-tareas"></ion-nav-view>
  </ion-tab>

  <!--  Pestaña Video y audio -->
  <ion-tab title="Video" icon-off="ion-social-youtube-outline" icon-on="ion-social-youtube" href="#/home/video">
    <ion-nav-view name="home-video"></ion-nav-view>
  </ion-tab>

  <!--  Pestaña Comentarios -->
  <ion-tab title="Comentarios" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/home/comentarios">
    <ion-nav-view name="home-comentarios"></ion-nav-view>
  </ion-tab>


</ion-tabs>