<ion-view title="Video" hide-nav-bar="true" >  
  <ion-header-bar class="bar-positive"  align-title="center">
    <h1 class="title">Curiosidades</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
        <div class="card">
            <ion-item>
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/wyVM1evRxNw" frameborder="0" width="560" height="315"></iframe>
                </div>
            </ion-item>
        </div>
        <div class="card">
          <ion-item>
              
        </ion-item>
        </div> 
    </ion-list>
    <audio id="player" src="mp3/archivo.mp3" /> 
              
  </ion-content>
</ion-view>