
<ion-view title="Inicio" hide-nav-bar="true" >
  <ion-content class="inicio center">

      <!-- Una fila con el boton de facebook-->
      <div class="row">
        <div class="col">
            <a class="btn-auth btn-facebook large" ng-click="login('facebook')">
            	Accede con <b>Facebook</b>
        	</a>
        </div>
      </div>

      <!-- Una fila con el boton de twitter-->
      <div class="row">
        <div class="col">
            <a class="btn-auth btn-twitter large" ng-click="login('twitter')">
            	Accede con <b>Twitter</b>
          	</a>
        </div>
      </div>

  </ion-content>
</ion-view>

